* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

#section1 {
    height: 85vh;
    width: 100vw;
    background-image: url('bgCar.jpg');
    background-repeat: no-repeat;
    background-position-y: 68%;
    background-position-x: 50%;
    background-size: cover;
}

.container {
    height: 100%;
    width: 100%;
    text-align: center ;
}



.hero-title {
    text-align: center ;
    color: #fff;
    font-size: 8rem;

    text-shadow: 0px 0px 0.7rem black;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.info-title{
    /* text-shadow: 0 0 0.1rem black; */
    margin-top: 1.8rem;


     font-family: "Bruno Ace", system-ui;
  font-weight: 400;
  font-style: normal;
}

.variants{
    display: flex;
}